@{
     Layout = "templates/master.cshtml";
}

<!-- Marketing Icons Section -->
<img class="img-responsive" src="/img/banner.jpg" alt="Banner">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
                   ResNet at Missouri State University
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">Useful Information for New Residents
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-signal"></span> Connect to WiFi</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-cog"></span> Connect to Ethernet</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-envelope"></span> Setup Email</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-print"></span> Setup Printer</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-th-large"></span> Setup Consoles</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-file"></span> Free Office 365</button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-list-alt"></span> More Information</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-star"></span> All Tutorials</button>
                <button type="button" class="btn btn-block btn-lg"><span class="glyphicon glyphicon-asterisk"></span> (Add content here)</button>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h2>Announcements</h2>
    </div>
</div>
<div class="row">
    <div class="well well-sm">
        <h2>ResReg has been Reset</h2>
        <p>by SETH THOENEN on AUGUST 12, 2015</p>
        <p>The registration system for wired Ethernet connections has been reset for the Fall 2015 semester. In order to use the wired Ethernet connection in your room, you will need to register your device on ResReg. If you experience any issues please contact us.</p>
    </div>
</div>
<div class="row">
    <div class="well well-sm">
        <h2>Upgraded Bandwidth</h2>
        <p>by SETH THOENEN on JUNE 4, 2015</p>
        <p>The University has tripled the amount of bandwidth available to residence halls and academic buildings. This upgrade will significantly improve quality of service during peak times. If you experience any issues contact us.</p>
    </div>
</div>
<!-- /.row -->
